In [55]:
import pandas as pd

In [56]:
df = pd.read_csv('all_data.csv', usecols=['cadenaComercial'], low_memory=True)
print('there are', len(df['cadenaComercial'].unique()), ' include in this dataset')

there are 706  include in this dataset

In [57]:
df = pd.read_csv('all_data.csv', usecols=['estado', 'producto'], low_memory=True)
output = df.groupby(['estado', 'producto']).size().reset_index(drop=False)
output.columns = ['estado','producto','size']
output.sort_values('size',ascending=False).groupby(['estado']).head(10).sort_values(['estado', 'size'], ascending=[True, False])

               estado                 producto   size
397    AGUASCALIENTES                      FUD  12005
302    AGUASCALIENTES        DETERGENTE P/ROPA  10188
520    AGUASCALIENTES  LECHE ULTRAPASTEURIZADA   9824
813    AGUASCALIENTES                  SHAMPOO   9654
762    AGUASCALIENTES                 REFRESCO   9481
...               ...                      ...    ...
30218       ZACATECAS                  SHAMPOO  15012
29560       ZACATECAS           CHILES EN LATA  14866
29610       ZACATECAS     COMPONENTES DE AUDIO  14799
30165       ZACATECAS                 REFRESCO  13925
30360          estado                 producto     20

[321 rows x 3 columns]

In [58]:
df = pd.read_csv('all_data.csv', usecols=['cadenaComercial'], low_memory=True)
output = df.groupby(['cadenaComercial']).size().reset_index(drop=False)
output.columns = ['cadenaComercial', 'size']
output = output.sort_values('size', ascending=False).iloc[0]
output

cadenaComercial    WAL-MART
size                8643133
Name: 683, dtype: object

In [59]:
df = pd.read_csv('all_data.csv', usecols=['precio'], low_memory=True)
numeric =df[df['precio'].str.contains("[0-9.,]+").isnull()]
print('there are', len(df) - len(numeric), ' non numeric prices and ', len(numeric), ' prices with good format')

C:\Users\tavo-\anaconda3\envs\lealenv\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

there are 1245184  non numeric prices and  61285531  prices with good format

I have some lessons learned from this EDA:
1. This is my first time handling a csv file with more than 20GB, i have a 128GB SSD and 12GB of RAM so it was challeging even to download the file (i did some cleaning on my disk)
2. Due to the ram limitations i did not charge in memory the whole data just the columns i needed for each questions and redefining the variables with the same name

Given the little complexity of the questions i would rather use a linux terminal with several tools like curl, csvkit or csvsql or sql2csv (and scripting if you wanted to reproduce the code) to process the dataset in lesser time, i think that those tools are more efficient than pandas for small tasks like this one.